$footer-padding-top-lg: $spacing-7xl;
$footer-padding-bottom-lg: $spacing-4xl;

$footer-padding-top-md: $spacing-2xl;
$footer-padding-bottom-md: $spacing-lg;

.footer {
  @include grid-layout(
    repeat(3, 1fr),
    repeat(2, auto),
    $spacing-2xl,
    0,
    'logo nav author' 'bottom bottom bottom'
  );
  @include grid-items-align(end);
  border-top: 1px solid $border-10;
  padding: $footer-padding-top-lg $horizontal-p-lg $footer-padding-bottom-lg;
  max-width: calc($max-width + $horizontal-p-lg * 2);
  margin: 0 auto;

  @media (max-width: $breakpoint-lg) {
    padding: $footer-padding-top-lg $horizontal-p-md $footer-padding-bottom-lg;
  }

  @media (max-width: $breakpoint-md) {
    @include grid-layout(1fr, repeat(4, auto), 0, $spacing-xl, 'logo' 'nav' 'author' 'bottom');
    padding: $footer-padding-top-md $horizontal-p-base $footer-padding-bottom-md;
  }

  &__logo-block {
    grid-area: logo;
    @include grid-align-self($justify: start);

    @media (max-width: $breakpoint-md) {
      @include grid-align-self($justify: inherit);
      @include flex-layout(column);
      @include flex-items-align(center, center);

      text-align: center;
    }
  }

  &__logo {
    font-family: $font-serif;
    font-size: $text-lg;
    font-weight: $text-light;
    text-transform: uppercase;
  }

  &__tagline {
    margin-top: $spacing-3xs;
    font-size: $text-xs;
    color: $text-subtle;
    line-height: $line-height-lg;
  }

  &__nav {
    grid-area: nav;
    @include flex-layout(column, $row-gap: $spacing-xs);
    @include flex-items-align(flex-start, center);

    &-link {
      display: block;
      font-size: $text-xs;
      letter-spacing: $letter-spacing-xs;
      text-transform: uppercase;
      color: $text-subtle;
      transition: color 0.2s;

      @media (max-width: $breakpoint-md) {
        font-size: $text-base;
        color: $text-accent-dark;
        &:active {
          color: $accent;
        }
      }

      @media (min-width: $breakpoint-md) {
        &:hover {
          color: $text-subtle-hover;
        }
      }
    }
  }

  &__author {
    grid-area: author;
    @include grid-align-self($justify: end);
    text-align: right;

    @media (max-width: $breakpoint-md) {
      @include grid-align-self($justify: inherit);
      @include flex-layout(column);
      @include flex-items-align(center, center);
    }

    &-name {
      font-family: $font-serif;
      font-weight: $text-light;
      font-size: $text-md;
      margin-bottom: $spacing-4xs;
    }

    &-position {
      font-family: $font-mono;
      font-size: $text-xxs;
      font-weight: $text-light;
      letter-spacing: $letter-spacing-sm;
      text-transform: uppercase;
      color: $accent;
    }

    &-contacts {
      @include flex-layout($col-gap: $spacing-sm);
      @include flex-items-align(center, flex-end);
      margin-top: $spacing-sm;
    }

    &-contact {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__bottom {
    @include flex-layout();
    @include flex-items-align(center, space-between);
    grid-area: bottom;
    max-width: calc($max-width + $horizontal-p-lg * 2);
    margin: 0 auto;
    padding: $spacing-lg $horizontal-p-lg;
    border-top: 1px solid $border-10;
    font-family: $font-mono;
    font-size: $text-xs;
    color: $text-subtle;
    letter-spacing: $letter-spacing-2xs;

    @media (max-width: $breakpoint-lg) {
      padding: $spacing-lg $horizontal-p-md;
    }

    @media (max-width: $breakpoint-md) {
      @include flex-layout(column, $row-gap: $spacing-4xs);
      padding: $spacing-sm $horizontal-p-base;
      text-align: center;
    }

    ul {
      @include flex-layout($col-gap: $spacing-4xs);
      @include flex-items-align(stretch, center);
      flex-wrap: wrap;
    }
  }
}
