---
import type { CardGridProps } from './card-grid.types';

const { columns, colGap, rowGap } = Astro.props as CardGridProps;
---

<div
  class="card-grid"
  style={`
    --colGap: ${colGap};
    --rowGap: ${rowGap};
    --columns: ${columns.base};
  `}
>
  <slot />
</div>

<style lang="scss">
  .card-grid {
    @include grid-layout(repeat(var(--columns), 1fr), auto, var(--colGap), var(--rowGap));
  }
</style>
