/* Bebas Neue
  regular: 400
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* IBM Plex Mono
  regular: 400
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');

/* IBM Plex Sans
  light: 300
  regular: 400
  semi-bold: 600
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300..600&display=swap');
