@mixin grid-layout($columns: auto, $rows: auto, $col-gap: 0, $row-gap: 0, $areas: none) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-areas: $areas;
  grid-template-rows: $rows;
  column-gap: $col-gap;
  row-gap: $row-gap;
}

@mixin items-align($align: center, $justify: center, $content: initial) {
  align-items: $align;
  justify-items: $justify;
  justify-content: $content;
}

@mixin grid-align-self($align: inherit, $justify: inherit) {
  align-self: $align;
  justify-self: $justify;
}

@mixin flex-layout($align: center, $justify: center, $dir: row, $col-gap: 0, $row-gap: 0) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
  gap: $row-gap $col-gap;
}

@mixin position($pos, $top: unset, $left: unset, $right: unset, $bottom: unset, $zIndex: 0) {
  position: $pos;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  z-index: $zIndex;
}
