@use './reset';
@use './variables';
@use './mixins';
@use './fonts';

:root {
  --gray-400: #aaaaaa;
  --accent-glow: #ffbd20;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: $header-height-lg;
  background-color: $bg-main;
  font-family: $font-sans;
}
