@use 'sass:map';

$icon-variants: (
  primary: (
    filter: brightness(0) saturate(100%) invert(89%) sepia(18%) saturate(6361%) hue-rotate(334deg)
      brightness(91%) contrast(86%),
  ),
);

.icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: filter 0.05s;

  @each $name, $props in $icon-variants {
    &__#{$name} {
      filter: map.get($props, filter);
    }
  }
}
