---
import Hero from '@widgets/main-hero/main-hero.astro';
import GetStartedSection from '@widgets/get-started-section/get-started-section.astro';
import FilmsSection from '@widgets/films-section/films-section.astro';
import LensesSection from '@widgets/lenses-section/lenses-section.astro';

import '@styles/main.scss';
---

<html lang="en">
  <head>
    <title>Film photography</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <Hero />   
    <GetStartedSection />
    <FilmsSection />
    <LensesSection />
  </body>
</html>
